
@{
    ViewData["Title"] = "Generate Result";
}

<h2>Generate Semester Result</h2>

<form asp-action="SemesterResult" method="get">

    <div class="form-group">
        <label>Select Student</label>
        <select name="studentId" class="form-control">
            @foreach (var student in ViewBag.Students)
            {
                <option value="@student.Id">
                    @student.FullName (@student.Email)
                </option>
            }
        </select>
    </div>

    <div class="form-group mt-3">
        <label>Select Semester</label>
        <select name="semesterId" class="form-control">
            @foreach (var sem in ViewBag.Semesters)
            {
                <option value="@sem.Id">
                    @sem.Name
                </option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-success mt-3">
        Generate Result
    </button>

</form>