@{
    ViewData["Title"] = "Examination Dashboard";
}

<h2>Examination Control Panel</h2>
<hr />

<div class="row">

    <div class="col-md-3 mb-3">
        <div class="card bg-primary text-white p-3">
            <h5>Departments</h5>
            <h3>@ViewBag.TotalDepartments</h3>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card bg-success text-white p-3">
            <h5>Programs</h5>
            <h3>@ViewBag.TotalPrograms</h3>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card bg-warning text-white p-3">
            <h5>Batches</h5>
            <h3>@ViewBag.TotalBatches</h3>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card bg-info text-white p-3">
            <h5>Courses</h5>
            <h3>@ViewBag.TotalCourses</h3>
        </div>
    </div>



</div>



<div class="row">

    <div class="col-md-3">
        <div class="card bg-primary text-white p-3">
            <h5>Total Students</h5>
            <h2>@ViewBag.TotalStudents</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-success text-white p-3">
            <h5>Total Courses</h5>
            <h2>@ViewBag.TotalCourses</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-warning text-dark p-3">
            <h5>Total Results</h5>
            <h2>@ViewBag.TotalMarks</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card bg-dark text-white p-3">
            <h5>Average GPA</h5>
            <h2>@ViewBag.AverageGpa</h2>
        </div>
    </div>

</div>